.ultimeleRezultate{
    color: #000;
    text-align: left;
    font-family: Electrolize;
    font-size: 32px;
    line-height: normal;
    letter-spacing: 3.2px;
    margin-left: 10%;
    margin-bottom: 2%;
}

.ultimeleRezultate, .contMeciuriViitoare{
    margin-top: 5%;
}

.meciuriViitoare{
    color: #000;
    text-align: left;
    font-family: Electrolize;
    font-size: 32px;
    line-height: normal;
    letter-spacing: 3.2px;
    margin-left: 10%;
}