
.simple-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 20px;
  padding-left: 80px;
}

.slider-wrapper {
  display: flex;
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
  flex-wrap: nowrap;
}

.slide {
  flex: 0 0 33.33%;
  transition: transform 0.1s ease-in-out;
}


.slide.active {
  opacity: 1;
}


.control-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}



/*Dan*/

.container-stiri {
  margin-top:50px;
  display:flex;
  width:100%;
}

.stire {
  display: flex-end;
  background: linear-gradient(180deg, #F9F9FE 9.8%, #3F3F95 100%);
  padding-top: 1.5%;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  margin: 1%;
  margin-left:13%;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  width: 70%;
  margin-bottom: 10%;
}

.stire p {
  padding-top: 4%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: left;
}

.buton-dreapta {
  top: 0;
  float: right;
  margin-right: 2%;
  border-radius: 5px;
  border: 1px solid #615CCF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;

/*          Text                 */
  color: #615CCF;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

.centered-image {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.coloanastanga {
  width:80%;
}

.coloanadreapta {
  border-radius: 5px;
  height:fit-content;
  margin-top: 0.5%;
  width:18%;
  background: #D9D9D9;
}
.calendarstire{
  margin-top: 0.5%;
  margin-bottom: 15%;
  display:flex;
  align-items: center;
  justify-content: center;
  height:7%;
}
.separator{
  display:flex;
  margin-top:10%
}
.carduri{
  margin-left: 1%;
  margin-right:1%;
  text-align:left
}

.vl {
  border-left: 1px solid black;
  height: 50px;
}
.data p{
  margin-top:-50%;
}

/* .separator{
  border:1px solid black;
} */
@media (max-width: 600px) {
  .stire {
    width: 90%;
  }

  .centered-image {
    max-width: 100%;
  }
}
