
.container-juniori{
  padding-top: 20px;
}

.cadeti{
  background-color: #242466;
  height: 50px;
  color:white;
  font-size: 20px;
  padding-top:6px;
  display: flex;
  justify-content: center;
}

.headerCadeti{
  color:  #FFF;
  font-family: Electrolize;
  font-size: 30px;
  line-height: normal;
  letter-spacing: 1.5px;
}