.despre {
    padding-top: 80px;
    max-width: 100%;
    color:black;
}
.titlu {
    text-align: center;
    background-color: #D9D9D9;
    padding: 10px;
    margin-bottom: 2%;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 15px; 
    margin: 10px;
  }

.image {
  width: 600px;
  height: 337px;
}
.viziune{
    color:black;
    display:flex-end;
    justify-content: center;
    text-align: center;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 2%;
}

.viziuneText{
    display:flex;
    text-align: center;
    width: 60%;
    margin-left: 21%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:  #ccc;
    justify-content: center;
    font-size: larger;

}
.istoric{
    display:flex;
    text-align: center;
    background-color: #3F3F95;
    justify-content: center;
}
.trofee{
    display:flex;
    justify-content:center;
    text-align:center;
    background-color: #3F3F95;
}
.palmares {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 2fr)); 
  grid-gap: 10px;
  margin-top: 1%;
  margin-left: 10%;
  margin-bottom: 3%;
  justify-content: center;
}

.coluna {
    width: 50%;
    margin: 8px; 
    box-sizing: border-box;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 10px; 
}

.card {
    border: 1px solid #ccc;
    padding: 16px;
    
  }
  
  .year, .trophyName, .separator {
    margin-right: 10px;
  }
  
  .separator {
    border-right: 1px solid #ccc; 
    height: 1em; 
    display: inline-block; 
  }




  @media screen and (max-width: 768px) {
    .palmares {
      grid-template-columns: 1fr; 
    }
  }